@model FlexGains.Models.Workout

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Workout</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WorkoutName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkoutName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.UserName)
        </dd>
       
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WorkoutId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
