@model IEnumerable<FlexGains.Models.Workout>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkoutName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account.UserName)
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WorkoutName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account.UserName)
        </td>

        <td>
            @if (ViewBag.isOwnView)
            {
                <text>
                @Html.ActionLink("Delete", "Delete", new { id = item.WorkoutId }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.WorkoutId })|
                </text>
            }
            @Html.ActionLink("Details", "Details", new { id = item.WorkoutId })

        </td>
    </tr>
}
</table>
