@model IEnumerable<FlexGains.Models.Comment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CommentDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TextBody)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Workout.WorkoutName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CommentDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TextBody)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Workout.WorkoutName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CommentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CommentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CommentId })
        </td>
    </tr>
}

</table>
